#main{
    margin:30px auto;
    content: '';
    display: table;
    clear: both;
}

#preview{
    content: '';
    display: table;
    clear: both;
    /*border:1px solid #333;*/
    position:relative;
    float: left;
    box-sizing: border-box;
}
#mediumDiv{
    width: 400px;
    height:400px;
    border:1px solid #D7D7D7;
    margin: 15px 0 15px 0;
    position: relative;
}
#preview>#mediumDiv>#mask{
    position: absolute;
    width:200px;
    height:200px;
    background: #ffa;
    opacity: 0.5;
    top: 0;
    left: 0;
    display:none;
}
#preview>#mediumDiv>#superMask{
    position: absolute;
    width: 400px;
    height: 400px;
    /*opacity: 1;*/
    opacity: 0;
    top: 0;
    left: 0;
    cursor: move;
}
#preview>#largeDiv{
    position: absolute;
    width: 450px;
    height: 450px;
    background: #fff;
    border: 1px solid #ddd;
    top: 0;
    left:430px;
    z-index: 999;
    display: none;
    /*display:block;*/
}
#preview h1{
    width:400px;
    height:85px;
    box-sizing: border-box;
    position: relative;
}

#preview h1 a.backward_disabled,
#preview h1 a.forward
{  width:11px;
    height:64px;
    line-height:64px;
    display: block;
    border:1px solid #aaa;
    position: absolute;
    top:10px;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
}

#preview h1 a.forward{
    right: 0;
}
#preview h1 a.backward_disabled{
    left: 0;
}

#icon_list{
    width:375px;
    height:85px;
    position:absolute;
    overflow:hidden;
    top:0;
    left:3px;
}
#icon_list li{
    border: 1px solid #D7D7D7;
    float: left;
    width:85px;
    height:85px;
    margin-left:3px;
    cursor: pointer;
}
#icon_list li:first-child{
    margin-left:18px;
}

.font_intro{
    width:600px;
    height:519px;
    /*border:1px solid #f00;*/
    float: left;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}
.font_intro .header{
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
}
.font_intro .header h1,
.font_intro .header p
{
    line-height: 24px;
}
.font_intro .header p{
    color: #f00;
}

.content{
    padding-top:20px ;
}
.content p{
    line-height: 30px;
    width: 100%;
    height:30px;
}
.content p b{
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    width: 70px;
    text-align: right;
}
.content p span{
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
}

#LeftTime{
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*line-height: 30px;*/
    /*width: 170px;*/
    color: #ff0000;
}

.sale_price{
    color:#f00;
    font-size: large;
}
.address{
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    padding: 0 5px;
}
.address i{
    display: inline-block;
    vertical-align: middle;
    width:0;
    height:0;
    border:5px solid transparent;
    border-top-color: #f00;
    margin-top: 4px;
}

.count{
    margin-top: 40px;
}

.count span{
    display: inline-block;
    vertical-align:middle;
    width:22px;
    height:22px;
    background-image: url("../img/minus_plus.jpg");
    cursor: pointer;
}
.count span.plus{
    background-position:0 -38px ;
}

.count span.minutes{
    background-position:0  0;
    margin-right: 5px;
}

.count input{
    vertical-align:middle;
    width:20px;
    height:10px;
    padding: 3px;
    line-height: 10px;
    text-align: center;
}
.count i{
    display: inline-block;
    vertical-align:middle;
    width:120px;
    height:10px;
    padding:3px;
    line-height: 10px;
    text-align: center;
    margin-left: 40px;
    font-style: normal;
}
.count i strong{
    color: #f00;
}

.content ul{
    width: 540px;
    height:40px;
    line-height: 40px;
    border-top:1px dotted #cccccc;
    border-bottom:1px dotted #cccccc;
    margin-top: 60px;
}
.content ul li{
    text-align: center;
    float: left;
    width:175px;
    height:40px;
    line-height: 40px;
    border-top:1px dotted #cccccc;
    border-bottom:1px dotted #cccccc;
}
.content ul li:nth-child(2){
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
}

.content ul li span{
    color:#f00;
    font-weight: bold;
}
.content ul li:last-child span{
    color:#0f0;
}

.action{
    width: 540px;
    margin-top: 30px;
    height:40px;
    /*border: 1px solid #f00;*/
}
.action button{
    width:190px;
    height:40px;
    line-height: 40px;
    border: 1px solid #993333;
    font-weight: bold;
    cursor: pointer;
}

.buy{
    color:#993333;
    background: #ffffff;
    margin-left: 60px;
}
.store{
    color:#ffffff;
    background: #cc0000;
    margin-left: 50px;
}

#product_intro .guess_like
{
    width:194px;
    height:519px;
    float: left;
    border:1px solid #cccccc;
    box-sizing: border-box;
}

#product_introDetail .guess_like
{
    width:194px;
    float: left;
    border:1px solid #cccccc;
    box-sizing: border-box;
}

.guess_like>p{
    width:194px;
    height:40px;
    line-height: 40px;
    text-align: center;
    background: #ddd;
    /*border:1px solid #f00;*/
}
.guess_like li{
    margin-top: 3px;
}
.guess_like li h3{
    color: #f00;
    line-height: 24px;
    padding:15px 10px 0 10px;
}
.guess_like li h4{
    line-height: 24px;
    font-weight: normal;
    padding:0 10px 0 10px;
}
.guess_like li p{
    margin:0 auto;
    width: 150px;
    height: 150px;
    background: url("../img/dark_tea/dark03_sm.png");
}

#product_introDetail{
    margin-top: 50px;
    float: left;
    content: '';
    display: table;
    clear: both;
}

.product_msg{
    float: left;
    width:945px;
    margin-left: 20px;
}
.product_msg>ul{
    width:945px;
    float: left;
    height:40px;
    /*border:1px solid #00f;*/
    background: #dddddd;
}

.product_msg>ul>li{
    float: left;
    width:150px;
    height:40px;
    line-height: 40px;
    border-top: 2px solid transparent;
    text-align: center;
    cursor: pointer;
}
.product_msg>ul>li.active{
    border-top: 2px solid #f00;
    background: #fff;
}
.goods_detail{
    margin-top:50px ;
    /*display: none;*/
}


/*商品评价*/
.goods_comment {
    margin-top: 50px;
    /*border:1px solid #cccccc;*/
    content: '';
    display: table;
    clear: both;
    display: none;
}
.goods_info_comment{
    content: '';
    display: table;
    clear: both;
    border:1px solid #cccccc;

}
.m_content{
    border:1px solid #cccccc;
}
/*好评度*/
div.rate {
    width:190px;
    padding: 20px 0 0;
    text-align: center;
    float:left;
}
div.rate span {
    font: 400 46px/30px arial;
    color: #f00;
    font-weight:bold;
}
div.rate b {
    font-size: 24px;
    color: #f00;
    font-weight:normal;
}
div.rate p {
    color: #999;
}
/*评价*/
div.percent {
    float: left;
    width: 186px;
    height: 74px;
    padding: 8px 0;
    border-right: 1px solid #E4E4E4;
}
div.percent dl {
    float:left;
    padding: 2px 0;
    overflow:hidden;
}
div.percent dt {
    float: left;
    width: 70px;
}
div.percent dt span {
    color: #9C9A9C;
}
div.percent dd {
    float: left;
    width: 100px;
    height: 10px;
    margin-top: 6px;
    overflow: hidden;
    background-color: #efefef;
}
div.percent dd p {
    overflow: hidden;
    height: 10px;
    background-image: linear-gradient(to bottom,#ED0000 0,#A50000 100%);
}
/*买家印象*/
div.buyers {
    width: 383px;
    float: left;
    position: relative;
    height: 85px;
    padding: 5px 15px 0;
    line-height: 15px;
    border-right: 1px solid #E4E4E4;
    white-space: nowrap;
}
div.buyers p {
    line-height:15px;
}
div.buyers ul {
    width:398px;
}
div.buyers ul li {
    margin-top: 5px;
    float: left;
    height: 21px;
    line-height: 21px;
    padding: 0 7px;
    margin-right: 5px;
    background: #fdedd2;
    color: #333;
}
div.buyers ul li span {
    color: #999;
}
/*发表评价*/
.goods_comment div.btns {
    padding-right: 10px;
    float: right;
    width: 140px;
    height: 75px;
    padding-top: 5px;
    line-height: 15px;
    text-align: center;
}
.goods_comment div.btns a.btn_comment {
    color: #FFFFFF;
    display: block;
    overflow: hidden;
    margin: 10px auto;
    width: 119px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #4cae4c;
    border-radius: 5px;
    text-decoration: none;
    background-color: #4cae4c;
}


/*评价详细*/
#comment_list {
    margin-top: 20px;
    /*border:1px solid #cccccc;*/
}

#comment_list>ul{
    float: left;
    width:100%;
    height:40px;
    line-height: 40px;
    border:1px solid #cccccc;
    background: #cccccc;
}

#comment_list>ul>li{
    float: left;
    width: 150px;
    height: 40px;
    text-align: center;
    border-top: 2px solid transparent;
    border-right: 1px  solid #cccccc;
    cursor: pointer;
}

#comment_list>ul>li.active{
    border-top: 2px solid #f00;
    background: #fff;
}

#comment_list>div{
    margin-top:10px;
    content: '';
    display: table;
    clear: both;
}
/*某条评价：左侧*/
.comment_item {
    position: relative;
    padding: 0 0 2px 120px;
    margin-top:30px;
    background: #fff;
    clear:both;
}
.comment_item ul {
    position: absolute;
    top: 10px;
    left: 0;
    width: 120px;
    text-align: center;
    color: #9C9A9C;
}
.comment_item ul li {
    width: 120px;
    overflow: hidden;
    line-height:20px;
}

.comment_item ul li b {
    color: #088000;
}
.comment_item ul li span {
    margin-left: 5px;
}
/*某条评价：右侧顶部*/
.comment_item>div {
    width:825px;
    box-sizing: border-box;
    padding: 10px 15px 5px;
    border: 1px solid #d0e4c2;
    background: #fcfffa;
}
div.topic {
    padding: 0 0 2px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d0e4c2;
    overflow: hidden;
}
div.topic p {
    float: left;
    margin: 1px 0 3px 5px;
    width: 75px;
    height: 14px;
}

div.topic a {
    float: right;
    color: #9C9A9C;
    margin-left: 10px;
}
/*某条评价：右侧内容*/
div.comment_item table {
    padding: 2px 0;
    overflow: hidden;
    color:#666;
    vertical-align:top;
}
div.comment_item table tr td:first-child {
    width: 62px;
    height:25px;
    line-height:25px;
    text-align: right;
    color: #9C9A9C;
    vertical-align:top;
}
td.comment_tag span {
    color: #333;
    float: left;
    height: 21px;
    line-height: 21px;
    padding: 0 7px;
    margin-right: 5px;
    background: #fdedd2;
}

td.comment_show {
    vertical-align:bottom;
    overflow:hidden;
    margin: 5px 0 0 5px;
}
td.comment_show a {
    display:inline-block;
    width: 118px;
    height: 96px;
    border: 1px solid #d3d3d3;
    background: #fff;
    padding:2px 5px;
    margin-right:5px;
}
td.comment_show a img {
    width:118px;
    height: 96px;
}
td.comment_show b {
    padding:0 1px;
    font-weight:normal;
}
td.comment_show a {
    color: #4cae4c;
    display:inline;
    border:0;
}
p.btns {
    text-align:right;
    margin-bottom:15px;
}
p.btns a {
    margin-right: 10px;
    line-height: 20px;
    padding: 5px 10px;
    border: 1px solid #d5d5d5;
    text-decoration: none;
    text-align: center;
    background: #cccccc;
    border-radius: 5px;
    color: #333;
}
/*三角尖*/
div.corner
{
    padding:0;
    margin: 0;
    border:15px solid transparent;
    border-right-color:#D0E4C2;
    /*overflow: hidden;*/
    position: absolute;
    top: 10px;
    left: 90px;
    width: 0;
    height: 0;
}
/*评论的页码*/
#comment_list #pages {
    color: #666;
    margin-top:10px;
    margin-bottom:20px;
    /*text-align:right;*/
    /*border: 1px solid #f00;*/
    float:right;
}
#comment_list #pages a {
    padding: 3px 10px;
    border: 1px solid #ccc;
    margin-left: 2px;
    line-height: 10px;
    border-radius: 5px;
    color: #4cae4c;
    text-decoration: none;
}
#comment_list #pages a:hover {
    background-color: #4cae4c;
    color: #fff;
}
#comment_list #pages a.current {
    color: #f60;
    font-weight:bold;
    border: 0;
    padding: 4px 11px;
}
#comment_list #pages a.current {
    background-color:#fff;
}
a.comment_show_all {
    padding: 8px 0 0 120px;
    color: #4cae4c;
    float:left;
}
#comment_list .pager{width: 100%;margin-top: 40px;}